## Pandas Data-structures

Pandas Datastructures:
               1. Series
               2. DataFrame
               3. Panel

### Series

<dl>
  <dd>Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.</dd>
</dl>
<dl>
  <dt>* Syntax</dt>
</dl>
```python
        s = pd.Series(data, index=index)
        print(s)
```

Here, data can be many different things:
* a Python dict
* an ndarray
* a scalar value

<img src="images/Slide2.png" height="1000" width="1000">

<dl>
  <dt>* Structure</dt>
</dl>

Index | Value
--- | ---
*Red* | `7`
*Green* | `3`
*Blue* | `2`
*Yellow* | `4`
*Black* | `5`

In [4]:
import numpy as np
import pandas as pd

In [8]:
mylist = [7,3,2,4,5]

In [9]:
pd.Series(mylist)

0    7
1    3
2    2
3    4
4    5
dtype: int64

In [10]:
my_index = ['Red', 'Green', 'Blue', 'Yellow', 'Black']

In [11]:
pd.Series(mylist,my_index)

Red       7
Green     3
Blue      2
Yellow    4
Black     5
dtype: int64

#### Using numpy arrays

In [52]:
arr = np.random.randint(1000,1500,7)

In [53]:
arr

array([1157, 1403, 1414, 1485, 1110, 1291, 1015])

In [54]:
pd.Series(arr)

0    1157
1    1403
2    1414
3    1485
4    1110
5    1291
6    1015
dtype: int32

In [55]:
my_index = 'Sunday Monday Tuesday Wednessday Thursday Friday Saturday'.split(' ')

In [56]:
pd.Series(arr, my_index)

Sunday        1157
Monday        1403
Tuesday       1414
Wednessday    1485
Thursday      1110
Friday        1291
Saturday      1015
dtype: int32

#### Using Dictionaries

In [59]:
dictn = {'rainbow':1,'mac':5,'fun':3, 'audio':7, 'video':8}

In [60]:
pd.Series(dictn)

audio      7
fun        3
mac        5
rainbow    1
video      8
dtype: int64

___

### Dataframe

<dl>
  <dd>DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.</dd>
</dl>

<img src="images/Slide3.png" height="1000" width="1000">

<dl>
  <dt>* Syntax</dt>
</dl>
```python
s = pd.DataFrame(data, index=index, columns=columns)
print(s)
```

Here, data can be many different things:
* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray

#### From Series

In [65]:
series1 = pd.Series(data=np.random.randint(1000,1500,5), index=['Google','Amazon','Facebook','Microsoft','Ebay'])
series2 = pd.Series(data=np.random.randint(1000,1500,5), index=['Google','Amazon','Facebook','Microsoft','Ebay'])
pd.DataFrame({'Day_1': series1, 'Day_2': series2})

           Day_1  Day_2
Google      1456   1166
Amazon      1480   1354
Facebook    1379   1124
Microsoft   1193   1363
Ebay        1113   1454

#### From NDarrays

In [82]:
df = pd.DataFrame(data=np.random.rand(10,7)*400, 
             columns=['Sunday','Monday','Tuesday','Wednessday','Thursday','Friday','Saturday'], 
             index=['NewYork','Tokyo','Paris','Moscow','Istanbul','Rome','Mumbai','London','Sydney','CapeTown'])
df

,Sunday,Monday,Tuesday,Wednessday,Thursday,Friday,Saturday
NewYork,9.082423,296.708789,361.415522,272.655246,395.963226,226.498004,332.134289
Tokyo,235.437076,361.931697,378.558367,192.297259,228.260638,134.441757,56.405364
Paris,298.741307,125.292707,386.320496,395.354638,14.478222,152.534045,102.278080
Moscow,90.179699,316.604213,89.804690,88.319599,338.311262,214.086430,269.003178
Istanbul,282.972299,37.722770,375.604008,57.840125,146.907747,291.139514,178.493501
Rome,241.615323,127.795437,385.600535,370.314178,84.774256,317.081749,30.389371
Mumbai,35.853375,156.407595,259.593041,229.756541,348.365142,256.785636,234.584219
London,145.310800,152.478980,244.384054,368.090418,52.685406,375.374775,195.808325
Sydney,240.561425,224.518743,145.880247,365.883615,309.040036,318.826750,80.082356
CapeTown,305.181956,86.206888,136.164149,232.633483,369.783345,193.296151,147.887403